.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-section {
  background-color: #f5f5f5;
}
body {
  margin: 0px;
  font-family: "Inter", sans-serif;
}
.main-section {
  padding-bottom: 80px;
}
.main-header__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
}

.main-header {
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: #f5f5f5;
}

ul {
  margin: 0;
}
.main-navigation__item {
  display: inline-block;
  padding: 0.625rem;
}
a {
  color: #303030;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease;
}

a:hover {
  color: #303030;
  text-decoration: underline;
  transition: 0.3s ease all;
  transform: scale(1.1) !important;
}

.language {
  display: flex;
  align-items: center;
  gap: 7px;
}

.navbar_right {
  display: flex;
  gap: 80px;
}

@media only screen and (max-width: 1007px) {
  .main-navigation__items {
    display: none;
  }
  /* .main-header__brand_img {
    display: inline-block;
    padding: 0.625rem;
  } */
}
/*main sectio */

.main-banner {
  width: 100%;
  padding: 80px 0;
  background: #ffffff;
}

.main-section .container {
  margin-top: 50px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.main-section__info {
  flex: 1;
  /* max-width: 520px; */
  font-size: 48px;
  /* display: flex; */
}

.main-section__introdaction {
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;

  color: #1f1f1f;
  margin-bottom: 24px;
}

.main-section__text {
  font-size: 18px;
  line-height: 150%;
  color: rgb(137, 134, 152);

  margin-bottom: 32px;
  /* max-width: 480px; */
}

.main-section_action {
  background: #5b5ef6;
  color: #ffffff;
  border: none;
  padding: 18px 43px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.main-section_action:hover {
  background: #4a4de0;
  transform: translateY(-2px);
}

.main-section__image {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.main-section__image img {
  width: 100%;
  max-width: 420px;
  border-radius: 24px;
  object-fit: cover;
  display: block;
}

/* TABLET */

@media (max-width: 992px) {
  .main-banner {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-section__image {
    flex-direction: column;
  }
  .main-section .container {
    flex-direction: column;
  }
  .main-section__introdaction {
    font-size: 35px;
  }
  .main-section__text {
    font-size: 20px;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .main-banner {
    grid-template-columns: 1fr;

    text-align: center;
  }
  .main-section__image {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .main-section_action {
    width: 100%;
  }
  .main-section__image img {
    width: 100%;
    align-items: center;
  }
}

.info-section {
  /* max-width: 1200px; */
  /* margin: 133px auto 0; */
  padding-top: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  background-color: white;
}

.info-title {
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 18px;
  line-height: 21px;
  .my-title {
    font-weight: 600;
  }
}

.info-poragraf {
  font-size: 16px;
  color: rgb(137, 134, 152);
  font-weight: 400;
  line-height: 150%;
  padding: 12px 0px 24px;
}
.info-section {
  max-width: 1200px;
  margin: 133px auto 0;
  margin-top: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  background-color: white;
}

.info-title {
  font-size: 18px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 18px;
  line-height: 1.3;
  .my-title {
    font-weight: 600;
  }
}

/* .info-poragraf {
  font-size: 16px;
  color: #6b6b6b;
  font-weight: 400; */
/* } */
@media only screen and (max-width: 768px) {
  .info-section {
    padding: 0 20px;
    flex-direction: column;
    gap: 25px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1fr);
  }

  .info-title {
    font-size: 16px;
    margin-bottom: 12px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .info-poragraf {
    font-size: 14px;
    line-height: 1.7;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .info-ikonki {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/*Platform section*/
.platform-section {
  /* max-width: 1200px; */
  margin: 100px auto;
  /* padding: 0 40px; */
}

.platform-cards {
  background: #f8f8f8;
  border-radius: 24px;
  /* padding: 50px 60px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 77px 50px 0px;
  position: relative;
}

.platform-image img {
  width: 100%;
  max-width: 320px;
  display: block;
}

.platform-content {
  flex: 1;
}

.platform-title {
  font-size: 32px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 30px;
  max-width: 500px;
  line-height: 38px;
}

.platform-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #6b6b6b;
  margin-bottom: 30px;
  max-width: 500px;
  display: block;
}

.platform-btm {
  background: #5b5ef6;
  color: #ffffff;
  border: none;
  padding: 16px 36px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.platform-btn:hover {
  background: #4a4de0;
}

.platform-features {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.feature-box {
  flex: 1;
  max-width: 320px;
}

.features-box h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

.feature-box p {
  font-size: 16px;
  line-height: 150%;
  color: rgb(137, 134, 152);
  font-weight: 400;
  padding: 12px 0px 24px;
}

@media only screen and (max-width: 992px) {
  .platform-cards {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
  }
  .platform-text {
    max-width: 100%;
  }
  .platform-features {
    flex-direction: column;
    text-align: center;
  }
  .platform-features {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .feature-box p {
    max-width: 100%;
  }
}

.cources-section {
  background: #f5f5f5;
  padding-bottom: 45px;
}

.courses-header {
  margin-bottom: 40px;
}

.courses-title {
  font-size: 36px;
  font-weight: 600;
  color: #1f1f1f;
  padding-top: 80px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.course-them {
  display: ruby;
  gap: 24px;
}

.course-card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s ease;
  /* width: min-content; */
}

.course-card hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.courses-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}
.courses-image img {
  width: 100%;
  height: 212px;
}
.course-content {
  padding: 24px;
}
.course-content h4 {
  color: #303030;
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 0px;
}
.course-content p {
  font-size: 16pxs;
  margin-bottom: 16px;
  color: #303030;
}
.course-description {
  font-size: 15px;
  line-height: 1.8;
  color: #7a7a7a;
  margin-bottom: 20px;
}

.course-info {
  display: flex;
  gap: 36px;
  color: #303030;
  font-weight: 600;
}
.course-time,
.course-book {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media only screen and (max-width: 992px) {
  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 768px) {
    .courses-grid {
      grid-template-columns: 1fr;
    }
    .courses-title {
      text-align: center;
      font-size: 32px;
      align-items: center;
    }
  }
}
.swiper-pagination {
  padding-top: 10px !important;
}
.mobile-app-section {
  /* background: #f8f8f8; */
  background: #f1f1f1;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 53px; */
  /* padding-left: 80px;
  padding-right: 12px; */
  box-sizing: border-box;
  margin-top: 115px;
}

.mobile-app-card {
  border-color: 28px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  overflow: hidden;
}
.mobile-app-content {
  flex: 1;
  max-width: 500px;
}

.mobile-app-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #1f1f1f;
  margin-bottom: 24px;
}

mobile-app-text {
  font-size: 16px;
  line-height: 1.9;
  color: #303030;
  margin-bottom: 34px;
}
.mobile-store-app {
  display: flex;
  gap: 16px;
  padding-top: 24px;
}

.mobile-store-buttons img {
  height: 53px;
  cursor: pointer;
  transition: 0.3s ease;
}

.mobile-store-buttons img hover {
  transform: translateY(-3px);
}

.mobile-app-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mobile-app-image img {
  /* width: 100%; */
  max-width: 320px;
  display: block;
}

@media only screen and (max-width: 992px) {
  .mobile-app-card {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
  }

  .mobile-app-content {
    max-width: 100%;
  }
  .mobile-store-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
  .mobile-store-app {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-app-title {
    font-size: 36px;
  }
  .mobile-store-buttons {
    justify-content: center;
  }
  .mobile-store-app {
    justify-content: center;
  }
}

.experts-section {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 40px;
}

.experts-header {
  text-align: center;
  margin-bottom: 70px;
}
.experts-title {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
  line-height: 43px;
  text-align: center;
}

.experts-grid {
  grid-template-columns: repeat(4.1fr);
  gap: 40px;
  display: flex;
}

.expert-card {
  transition: 0.3s ease;
  /* display: flex; */
}
.expert-card hover {
  transform: translateY(-6px);
}

.expert-image {
  width: 88px;
  height: 88px;
  border-radius: 22px;
  overflow: hidden;
  margin-bottom: 24px;
}

.expert-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.expert-name {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 10px;
}

.expert-subject {
  font-size: 18px;
  font-weight: 500;
  color: #5b5ef6;
  margin-bottom: 18px;
}

.expert-discription {
  font-size: 16px;
  line-height: 1.9;
  color: #303030;
  padding-bottom: 40px;
}

/* @media only screen and (max-width:) */

.testimonial-section {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 15px;
}

.testimonial-header {
  text-align: center;
  margin-bottom: 70px;
}

.testimonial-title {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
  line-height: 43px;
  text-align: center;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.testimonial-card {
  background: #ffffff;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 20px;
  padding: 32px;
  transition: 0.3s ease;
}
.testimonial-top {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 24px;
}
.testimonial-top img {
  margin-bottom: 16px;
  margin-right: 16px;
}
.testimonial-image {
  width: 64px;
  height: 64px;
  border-radius: 18px;
  object-fit: cover;
}
.testimonial-name {
  font-size: 16px;
  font-weight: 600;
  color: #222222;
  margin-bottom: 6px;
  line-height: 21px;
}

.testimonial-subject {
  font-size: 16px;
  font-weight: 500;
  color: #5b5ef6;
}

.testimonial-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: black;
}

@media only screen and (max-width: 992px) {
  .testimonial-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .testimonial-grid {
    grid-template-columns: 1fr;
  }
  .testimonial-title {
    font-size: 34px;
  }
}
.uvidom {
  width: 100%;
  padding: 80px 0;
  background: white;
}

.uvidom-box {
  background: #f1f1f1;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 53px;
  padding-left: 80px;
  padding-right: 12px;
  box-sizing: border-box;
}

.uvidom-left {
  width: 430px;
}
.uvidom-title {
  font-size: 32px;
  line-height: 59px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 24px;
}
.uvidom-text {
  font-size: 18px;
  line-height: 31px;
  color: #303030;
  margin-bottom: 40px;
}

.uvidom-buttons {
  display: flex;
  gap: 18px;
  width: 100%;
}
.uvidom-store-app {
  gap: 16px;
  display: flex;
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .uvidom-box {
    text-align: center;
    flex-direction: column;
    padding: 30px 20px;
  }

  .uvidom-left {
    width: 100%;
    text-align: center;
  }
  .uvidom-title {
    font-size: 28px;
    line-height: 38px;
  }
  .uvidom-buttons {
    justify-content: center;
    flex-direction: column;
    text-align: centers;
    max-width: 768px;
  }
  .uvidom-store-app {
    justify-content: center;
  }
  .uvidom-buttons img {
    margin: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .uvidom-box {
    text-align: center;
    flex-direction: column;
    padding: 30px 20px;
  }

  .uvidom-left {
    width: 100%;
    text-align: center;
  }
  .uvidom-title {
    font-size: 28px;
    line-height: 38px;
  }
  .uvidom-buttons {
    justify-content: center;
    flex-direction: column;
    text-align: centers;
    max-width: 768px;
  }
  .uvidom-store-app {
    justify-content: center;
  }
  .uvidom-buttons img {
    margin: 50px;
  }
}

.anketa {
  width: 100%;
  padding: 90px 0;
  background: white;
  align-items: center;
}

.anketa-header {
  text-align: center;
  margin-bottom: 45px;
}

.anketa-title {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
  line-height: 64px;
  margin-bottom: 18px;
}

.anketa-text {
  width: 540px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  color: #7b7b7b;
}
.anketa-form {
  max-width: 558px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}
.anketa-input {
  width: 100%;
  height: 60px;
  border: 1px solid #dddddd;
  border-radius: 14px;
  padding-left: 10px;
  font-size: 18px;
  color: #000000;
  background: white;
  outline: none;
}
.anketa-name-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.anketa-message {
  width: 100%;
  height: 140px;
  border: 1px solid #dddddd;
  border-radius: 14px;
  padding-left: 10px;
  font-size: 18px;
  color: #222;
  background: white;
  outline: none;
  resize: none;
}

.anketa-btn {
  width: 100%;
  height: 58px;
  border: 1px;
  border-radius: 14px;
  background: #5b61ff;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 14px;
}

.anketa-btn:hover {
  background: #4c52f0;
}
/* MOBILE */

@media only screen and (max-width: 768px) {
  .anketa-title {
    font-size: 32px;
    line-height: 42px;
  }

  .anketa-text {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
  }

  .anketa-input .anketa-btn {
    height: 60px;
  }

  .anketa-message {
    height: 140px;
  }
  .anketa-name-form {
    gap: 30px;
  }
  .a1 {
    width: 90%;
    margin: 0 auto;
  }
}

.partners {
  width: 100%;
  /* padding: 90px 0 110px; */
  background: white;
}

.partners-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 70px;
}

.partners-grid {
  display: grid;
  row-gap: 55px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
  align-items: center;
  justify-items: center;
  padding-bottom: 10px;
}

.partner-item {
  width: 180px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-item img {
  max-width: 100%;
  max-height: 45px;
  opacity: 0.45;
  transition: 0.3s;
}
/* MOBILE */

@media only screen and (max-width: 768px) {
  /* .partners {
    padding: 60px 20px; */

  .partners-container {
    width: 100%;
  }

  .partners-title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .partner-item {
    width: 100%;
    height: auto;
  }

  .partner-item img {
    max-width: 120px;
    max-height: 40px;
  }
}
@media only screen and (max-width: 992px) {
  .partners-container {
    width: 100%;
  }

  .partners-title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .partner-item {
    width: 100%;
    height: auto;
  }

  .partner-item img {
    max-width: 120px;
    max-height: 40px;
  }
}

/* .footer {
  padding: 100px 0;
  margin-top: 20px;
  background-color: #021017;
  text-align: center;
  display: flexx;
  justify-content: center;
}
.footer-brand img {
  width: 128px;
}

.footer-navigation-items {
  margin-bottom: 50px;
}
.footer-navigatin {
  display: inline-block;
  padding: 0 10px;
  justify-content: space-between;
}
.footer__social {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #ffffff;
  border-radius: 36px;
  color: #05364d;
  font-size: 1rem;
  margin-right: 12px;
} */

.footer {
  width: 100%;
  background: #2f2f2f;
  padding: 45px 0;
}
.footer-container {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;
}

.footer-left {
  width: 220px;
}

.footer-copy {
  color: #ffffff;
  font-size: 18px;
  line-height: 34px;
  opacity: 0.9;
}

.footer-center {
  text-align: center;
  color: white;
}

.footer-logo {
  width: 130px;
  margin-bottom: 18px;
}

.footer_description {
  color: #ffffff;
  font-size: 17px;
  line-height: 30px;
  opacity: 0.85;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 30px;
  /* padding: 45px; */
}

.footer-social {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}

.footer-social i {
  color: white;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    width: 100%;

    flex-direction: column;
    gap: 30px;

    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
  }

  .footer-right {
    justify-content: center;
  }
}
@media only screen and (max-width: 1246px) {
  .footer-container {
    width: 100%;

    flex-direction: column;
    gap: 30px;

    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
  }

  .footer-right {
    justify-content: center;
  }
}
